body {
    background-color:hsl(30, 38%, 92%);
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product-img-div {
    height: 20em;
}
.product-img {
    height: 20em;
}

.product-text {
    background-color:hsl(0, 0%, 100%);
    width: 20em;
    height: 20em;
}