:root {
    --mediumlightgrey: #707176;
    --darkgrey: hsl(228, 12%, 48%)
}

body {
    background-color:hsl(30, 38%, 92%);
    font-size: 14px;
}

.main-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.product-container {
    display: flex;
    flex-direction: row;
}

.product-img {
   width: 20em;
   border-radius: 1.5em 0 0 1.5em;
}

.product-text {
    font-family: 'Montserrat', sans-serif;
    background-color:hsl(0, 0%, 100%);
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0 1.5em 1.5em 0;
    width: 20em;
    height: 30em;
}

.product-text-title {
    color:var(--mediumlightgrey);   
}

.product-text h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

.product-text p {
    color:var(--darkgrey);
    font-weight: 500;
}